{varType string $themeSwitchId}
{varType ?string $class}
{default $class = null}
<button
		id="{$themeSwitchId}"
		aria-label="{_'Toggle theme'}"
		data-theme-light-label="{_'Light mode'}"
		data-theme-dark-label="{_'Dark mode'}"
		n:class="'btn btn-link text-decoration-none', $class"
		type="button"
>
	<i class="theme-toggle-icon fa-solid fa-moon"></i>
	<span class="theme-toggle-label">{_'Dark mode'}</span>
</button>
