{default bool $icon = false}
{default ?string $class = null}
<button
		type="button"
		aria-label="{_'Toggle theme'}"
		data-theme-switcher
		data-theme-light-icon="fa-solid fa-sun"
		data-theme-dark-icon="fa-solid fa-moon"
		data-theme-light-label="{_'Light mode'}"
		data-theme-dark-label="{_'Dark mode'}"
		n:class="'btn btn-link text-decoration-none', $class"
>
	<i n:if="$icon" data-theme-switcher-icon aria-hidden="true"></i>
	<span data-theme-switcher-label>{_'Dark mode'}</span>
</button>
