@import "core/base";
@import "naja/spinner";
@import "drago-form/styles/password-toggle";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "theme-switcher-compostrap/src/scss/theme-switcher";

//
// sign in style
//

html,
body {
	height: 85%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--bs-body-color);
	background-color: var(--bs-tertiary-bg);
}

.sign-in {
	width: 100%;
	max-width: 25rem;
	margin-inline: auto;
}

.sign-in-header {
	background-color: var(--bs-secondary-bg);
	border-top-left-radius: var(--bs-border-radius-lg);
	border-top-right-radius: var(--bs-border-radius-lg);
}

.sign-in-language {
	color: var(--bs-body-color);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&.current {
		color: var(--bs-primary);
		font-weight: 600;
	}
}

.sign-in-theme {
	width: 100%;
	max-width: 25rem;
	margin-inline: auto;
	text-align: right;
}
