parameters:


mail:
	smtp: true
	host: localhost
	port: 25
	username: ''
	password: ''
	encryption: null


security:
	authentication:
		expiration: 14 days


routing:
	routes:
		'[<lang=cs cs|en>/]sign/<action>/': Sign:default


services:
	- App\Presentation\Sign\Recovery\SessionService
	- App\Presentation\Sign\Recovery\EmailService
	- App\Model\User\UserAuthenticator
