{block title}{_'Sign in to your account'}{/block}
{block subtitle}{_'Enter your email and password to continue.'}{/block}

{block content}
	{if !$user->loggedIn}
		{embed '../Accessory/Widget/@form.latte', name: 'signIn', najaHistory: 'replace'}
			{import '../Accessory/Widget/@form-password.latte'}
			{block form}
				{include input, name: 'email'}
				{include password-toggle, name: 'password'}
				<div class="col-12 d-grid gap-1">
					{include submit, name: 'send'}
				</div>
			{/block}
		{/embed}

		<div class="text-end mt-2">
			<p class="m-0"><a n:href="up" class="btn btn-link p-0 sign-in-link ajax" data-link-disable>{_'Create account'}</a></p>
			<p class="m-0"><a n:href="recovery" class="btn btn-link p-0 sign-in-link ajax" data-link-disable>{_'Forgot your password?'}</a></p>
		</div>

		{else}
		<p>{_'You are already logged in. You can continue to the administration or log out and switch accounts.'}</p>
		<ul>
			<li><a n:href=":Backend:Admin:" class="sign-in-link">{_'Administration'}</a></li>
			<li><a n:href="out" class="btn btn-link p-0 sign-in-link ajax" data-link-disable>{_'Sign out'}</a></li>
		</ul>
	{/if}
{/block}
