{block title}{_'Create account'}{/block}
{block subtitle}{_'Enter your details to create a new account.'}{/block}

{block content}
	{embed '../Accessory/Widget/@form.latte', name: 'signUp', class: 'ajax', najaHistory: 'replace'}
		{import '../Accessory/Widget/@form-password.latte'}
		{block form}
			{include input, name: 'username'}
			{include input, name: 'email'}
			{include password-toggle, name: 'password'}
			{include password-toggle, name: 'verify'}
			<div class="col-12 d-grid gap-1">
				{include submit, name: 'send'}
			</div>
		{/block}
	{/embed}

	<p class="mt-2 mb-0 text-end">
		<a n:href="in" class="btn btn-link p-0 sign-in-link ajax" data-link-disable>{_'Back to sign in'}</a>
	</p>
{/block}
