# sing in
"Login to administration": "Přihlášení do administrace"
"Email address": "Emailová adresa"
"Please enter your email address.": "Zadejte prosím svou e-mailovou adresu."
"Password": "Heslo"
"Your password": "Vaše heslo"
"Please enter your password.": "Zadejte prosím své heslo."
"Sign in": "Přihlásit se"
"Sign up": "Registrovat se"
"Lost your password?": "Zapomněli jste heslo?"
"Administration": "Administrace"
"You are already logged in. You can return to the administration or log out and switch accounts.":
	"Již jste přihlášeni. Můžete se vrátit do administrace nebo se odhlásit a přepnout účet."

# sing up
"Registration": "Registrace"
"Username": "Uživatel"
"Full name": "Celé jméno"
"Please enter your full name.": "Zadejte prosím své celé jméno."
"Password to check": "Heslo ke kontrole"
"Re-enter password": "Znovu zadejte heslo"
"Please enter your password to check.": "Zadejte prosím své heslo pro kontrolu."
"Back to sign in": "Zpět k přihlášení"

# recovery password
"Forgot password": "Zapomenuté heslo"
"Reset password": "Obnovit heslo"

# recovery email
"Request to reset password": "Žádost o obnovení hesla"
"To reset your password, enter the code you received in this email into the form. The code is valid for 30 minutes.":
	"Pro obnovení hesla zadejte do formuláře kód, který jste obdrželi v tomto e-mailu. Kód je platný 30 minut."
	
"If you do not want to change your password or didn’t request a reset, you can ignore and delete this email.":
	"Pokud si nechcete změnit heslo nebo jste nepožádali o jeho obnovení, můžete tento e-mail ignorovat a smazat."

# sign out
"You have been signed out": "Byli jste odhlášeni"
