{templateType App\UI\Sign\SignTemplate}
{varType Drago\Application\UI\Flashes[] $flashes}
{import '../../Core/Widget/@lang-switch.latte'}

<!DOCTYPE html>
<html lang="{$lang}" data-bs-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title n:snippet="title">{ifset title}{include title|stripHtml|firstUpper} &bull;{/ifset} Project</title>

	{asset 'sign-in.js'}
</head>

<body>

{* main content *}
<div class="sign-in mt-5 bg-body shadow-sm rounded-3" n:snippet="body">
	<div class="sign-in-header p-3 mb-2">
		<div class="d-flex">
			<div class="ps-1 pe-1 flex-grow-1">
				{include title}
			</div>
			<div class="ps-1 pe-1">
				{include lang-switch, lang: 'cs', name: 'Czech', class: 'sign-in-language'}
				<span class="small ps-1 pe-1 text-secondary">&#124;</span>
				{include lang-switch, lang: 'en', name: 'English', class: 'sign-in-language'}
			</div>
		</div>
	</div>

	<div class="p-3">

		{* flash messages *}
		{snippet message}
			{include '../../Core/Widget/@toast.latte', messages: $flashes}
		{/snippet}

		{* page content *}
		{include content}
	</div>
</div>

<div class="sign-in-theme text-center mt-2">
	{include '../../Core/Widget/@theme-switch.latte',
		class: 'btn-sm p-0 text-secondary text-decoration-none',
		themeSwitchId: 'theme-toggle',
	}
</div>

{* footer info *}
<footer class="fixed-bottom bg-body pt-3 pb-1 text-muted">
	<p class="text-center font-weight-bold">&copy {=date('Y')}</p>
</footer>

</body>
</html>
