security:
	authentication:
		expiration: 14 days


services:
	router: {setup: {offsetSet(null, @router.sign)}}
	router.sign: {factory: App\UI\Sign\Router::create, autowired: no}

	- App\UI\Sign\Recovery\SessionService
	- App\UI\Sign\Recovery\EmailService
	- App\UI\Sign\User\UserAuthenticator
