parameters:
	mail:
		host: localhost
		port: 25
		username: ''
		password: ''
		encryption: null


mail:
	smtp: true
	host: %mail.host%
	port: %mail.port%
	username: %mail.username%
	password: %mail.password%
	encryption: %mail.encryption%


security:
	authentication:
		expiration: 14 days


routing:
    routes:
        '[<lang=cs cs|en>/]sign/<action>/': Sign:default


services:
	- App\UI\Sign\Recovery\SessionService
	- App\UI\Sign\Recovery\EmailService
	- App\UI\Sign\User\UserAuthenticator
