security:
	authentication:
		expiration: 14 days


routing:
    routes:
        '[<lang=cs cs|en>/]sign/<action>/': Sign:default


services:
	- App\UI\Sign\Recovery\SessionService
	- App\UI\Sign\Recovery\EmailService
	- App\UI\Sign\User\UserAuthenticator
