{block title}{_'You have been signed out'}{/block}
{block subtitle}{_'Your session has ended safely.'}{/block}

{block content}
	<div class="text-end">
		<a n:href="in" class="btn btn-sm btn-primary ajax" data-link-disable>
			{_"Back to sign in"}
		</a>
	</div>
{/block}
